    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
body {
    height: 100vh;
    background: url(../img/ft_bg_step_car3.webp) no-repeat center;
    background-size: cover;
}

        /* Navbar container */
        .navbar-wrapper {
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }

        .navbar {
            width: 90%;
            background: white;
            border-radius: 50px;
            padding: 12px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        /* Logo */
        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo img {
            width: 40px;
        }

        .logo h2 {
            color: #800000;
            font-size: 20px;
        }

        .logo span {
            display: block;
            font-size: 12px;
            color: gray;
        }

        /* Menu */
        .menu {
            display: flex;
            gap: 25px;
            align-items: center;
        }

        .menu a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 20px;
            transition: 0.3s;
        }

        .menu a:hover {
            background: #990101;
        }

        .menu .active {
            background: #a50101;
            color: #c9c9c9;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .menu {
                display: none;
            }
        }
    </style>